<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="simpleDoc" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My table app</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
	<body ng-controller='TableController as tableCtrl'>
		<div>
			<button class="btn btn-primary" ng-click="tableCtrl.switchMode()">Switch edit mode</button>
			<span ng-show="tableCtrl.editMode">
				<button class="btn btn-primary" ng-click="tableCtrl.newTable()">New table</button>
				<button class="btn btn-primary" ng-click="tableCtrl.addRow()">Add row</button>
			</span>
		</div>
		<br />
		<br />
		<div ng-cloak>
			<div ng-repeat="row in tableCtrl.table.rows">
				<div class="grid" ng-style="{ 'width': row.width * 100 + '%' }">

					<div class="handle">
						<div ng-show="tableCtrl.editMode" class="sd-cell-overlay" ng-style="{ 'width': 0.05 * 100.0 + '%' }" ng-click="tableCtrl.selectRow(row)"></div>
					</div>
					<div class="col-"
						 ng-mouseenter="hover=true" ng-mouseleave="hover=false"
						 ns-class="{element-selected: row.selected}"
						 ng-repeat="cell in row.cells"
						 ng-style="{ 'width': cell.width * 100.0 * 0.90 + '%' }">
					 
						<div class="sd-content" ng-show="tableCtrl.editMode" class="sd-cell-overlay" ng-style="{ 'width': cell.width * 100.0 * 0.90 + '%' }"></div>

						<div ng-show="cell.content" ng-style="cell.content.css" ng-bind="cell.content.value"></div>

						<div ng-show="tableCtrl.editMode">
							<div ng-show="hover || tableCtrl.showNavBar(cell)" class="sd-cell-overlay" ng-style="{ 'width': cell.width * 100.0 * 0.90 + '%' }" ng-click="tableCtrl.selectCell(cell)">
								<nav ng-show="tableCtrl.showNavBar(cell)" class="nav navbar-default edit-cell-bar">
									<div class="container-fluid">
										<button role="presentation" type="button" class="btn btn-default" aria-label="Left Align">
										  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
										<button role="presentation" type="button" class="btn btn-default" aria-label="Left Align">
										  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										</button>
									</div>
								</nav>
								<input ng-type="text" class="cell-label-edit" style="{{cell.style}}" value="{{cell.content.value}}"></input>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>
