*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
  text-align:center;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  background-color:rgb(51,51,51);
  margin:0;

}

canvas {
	display: block;
	z-index: -4;
}

.bg-image
{
	z-index: -2;
	position: absolute;;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('background5.jpg');
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
}

.gedicht
{
	position:absolute;
	left:50%;
	top:50%;
	margin: -400px 0 0 -300px;
	height: 800px;
	width: 600px;
}

.bg-background
{
	position:absolute;
	left:50%;
	top:50%;
	margin: -400px 0 0 -300px;
	background: rgb(35,36,38);
	height: 800px;
	width: 600px;
	z-index: -2;
	opacity: 0.5;
}

.bg-animation
{
	position:absolute;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	left:50%;
	top:50%;
	margin: -400px 0 0 -300px;
	height: 800px;
	width: 600px;
	z-index: -1;
	opacity: 1;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}


.textarea {
  display:block;
  background:none;
  height:800px;
  width:600px;
  padding:10px;
  color:rgb(236,236,236);
  font-size:130%;
  border:2px solid black;
}

.textarea:focus {
    outline: none !important;
    border: 2px solid black;
}

.animation
{
    position:relative;
	z-index: -1;
    height:281px;
    width:100%px;
	margin: 0 auto;
}